<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subscribes List</title>
</head>
<body>
    <h1>Subscribes</h1>
    
    <!-- Таблица с книгами -->
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts.content}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.userUsername}"></td>
                <td><a th:href="@{/books/edit/{id}(id=${book.id})}">Posts</a></td>
            </tr>
        </tbody>
    </table>

    <!-- Пагинация -->
    <div th:if="${posts.totalPages > 1}">
        <span th:each="i : ${#numbers.sequence(0, posts.totalPages - 1)}">
            <a th:href="@{/posts(page=${i}, size=${posts.size})}" 
               th:text="${i + 1}"
               th:class="${posts.number == i} ? 'active'"></a> |
        </span>
    </div>
</body>
</html>